# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Outputs/secrets
output.txt
private_key.pem
rsa_keys/

# Archives
*.zip


# Added by repo setup on 2026-01-21T21:26:27
# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
*.log
files/frontend/node_modules/
files/frontend/dist/
